.flinks-iframe {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.flinks-aspect-ratio-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-top: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    outline: #ff94ff solid 1px;
    box-shadow: 0 0 10px #ff5cff;
    margin-top: 15px;
    margin-bottom: 5px;
}

.flinks-loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
}

@keyframes animateTextColor {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.flinks-checking-text {
    all: inherit;
    font-family: sans-serif;
    height: auto;
    white-space: normal;
    overflow-wrap: normal;
    background-image: linear-gradient(90deg, #ffbf66, #00b4fb, #ff00ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    background-size: 200% 200%;
    animation: animateTextColor 2s ease infinite;
    width: fit-content;
    position: relative;
    font-weight: bold;
    margin-top: 10px;
}

.flinks-iframe-link {
    all: inherit;
    font-family: sans-serif;
    margin-left: auto;
    text-align: right;
    margin-top: 5px;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 1rem;
}

.flinks-iframe-link:hover {
    text-decoration: underline;
}